.white-piece {
    fill: white;
}

.black-piece {
    fill: black;
}

.white-square {
    stroke: none;
    fill: #FFCC96;
}

.black-square {
    stroke: none;
    fill: #DD8736;
}

.outline {
    stroke: black;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 3;
}

.highlight {
    visibility: visible;
}

.highlight-white {
    stroke: black;
}

.highlight-black {
    stroke: white;
}

.highlight-thick {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 3;
}

.highlight-thin {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 3;
}

.highlight-fill-white {
    stroke: none;
    fill: black;
}

.highlight-fill-black {
    stroke: none;
    fill: white;
}
